---
import Card from "../components/Card.astro";
import AstroIcon from "../icons/AstroSvg.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import GithubIcon from "../icons/Github.astro";
import CodeIcon from "../icons/Code.astro";
import TitleHeader from "./TitleHeader.astro";
import Pill from "./Pill.astro";

const PROJECTS = [
  {
    image: "/images/portfolio.webp",
    title: "Portfolio de Adrián Sanchis",
    description:
      "Web creada con Astro que muestra los conocimientos y los proyectos realizados",
    technologies: ["Astro", "TailwindCSS"],

    link: "https://github.com/adrics97/cv-web",
  },
];
---

<Card class="h-auto p-3 flex flex-col md:w-1/2">
  <TitleHeader title="Proyectos">
    <GithubIcon class="size-5" />
  </TitleHeader>
  <div class="flex flex-wrap gap-4 mt-4">
    {
      PROJECTS.map(
        ({ image, title, description, technologies, link }, index) => (
          <>
            <Card
              class={
                "w-full h-auto flex flex-col gap-y-2  bg-white dark:bg-secondaryCardDark"
              }
            >
              <img
                src={image}
                class="hover:scale-110 transition duration-500"
                alt="project ${image}"
              />

              <div class="px-3">
                <p class="text-medium font-medium">{title}</p>
                <p class="text-medium text-pretty mt-2">{description}</p>

                <div class="flex gap-2 flex-wrap mt-2 mb-3">
                  {technologies.map((technology) => (
                    <Pill class="bg-card dark:bg-black h-6">
                      {(() => {
                        switch (technology) {
                          case "Astro":
                            return <AstroIcon class="size-4" />;
                          case "TailwindCSS":
                            return <TailwindIcon class="size-4" />;
                          default:
                            return null; // Renderiza null si no hay coincidencia
                        }
                      })()}

                      {technology}
                    </Pill>
                  ))}
                  <Pill
                    class="bg-card dark:bg-black h-6 hover:scale-110 transition"
                    href={link}
                  >
                    <CodeIcon class="size-4" /> Code
                  </Pill>
                </div>
              </div>
            </Card>
          </>
        )
      )
    }
  </div>
</Card>
